In [6]:
import pymongo
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
# uri = "mongodb+srv://Tien:F@cluster0.ngwxw2i.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = pymongo.MongoClient("mongodb+srv://Tien:F@cluster0.ngwxw2i.mongodb.net/?retryWrites=true&w=majority")
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [2]:
# Connect to MongoDB Atlas
client = MongoClient("mongodb+srv://Tien:F@cluster0.ngwxw2i.mongodb.net/?retryWrites=true&w=majority")

# List all databases to check the connection
# print("Databases:", client.list_database_names())

# Use a database (it will be created if it doesn't exist)
db = client['test_database']

# Use a collection (it will be created if it doesn't exist)
collection = db['test_collection']

# Insert a document into the collection
insert_result = collection.insert_one({"name": "John", "age": 30, "city": "New York"})

# Output the ID of the inserted document
print("Inserted document ID:", insert_result.inserted_id)

# Find and print one document in the collection
print("One document:", collection.find_one())

# Find and print all documents in the collection
print("All documents:")
for document in collection.find():
    print(document)

Inserted document ID: 6507294e664a1c38616a2b10
One document: {'_id': ObjectId('6507294e664a1c38616a2b10'), 'name': 'John', 'age': 30, 'city': 'New York'}
All documents:
{'_id': ObjectId('6507294e664a1c38616a2b10'), 'name': 'John', 'age': 30, 'city': 'New York'}

In [3]:
db = client['test_database']

# Use a collection (it will be created if it doesn't exist)
collection = db['test_collection']

# Create a list of dictionaries (each dictionary will be a document)
my_list = [
    {"name": "John", "age": 30, "city": "New York"},
    {"name": "Marie", "age": 22, "city": "Boston"},
    {"name": "Mike", "age": 32, "city": "Chicago"},
    {"name": "Jenny", "age": 25, "city": "Denver"}
]

# Insert multiple documents into the collection
insert_results = collection.insert_many(my_list)

# Output the IDs of the inserted documents
print("Inserted IDs:", insert_results.inserted_ids)

Inserted IDs: [ObjectId('650729fa664a1c38616a2b11'), ObjectId('650729fa664a1c38616a2b12'), ObjectId('650729fa664a1c38616a2b13'), ObjectId('650729fa664a1c38616a2b14')]

In [4]:
for document in collection.find():
    print(document)

{'_id': ObjectId('6507294e664a1c38616a2b10'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('650729fa664a1c38616a2b11'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('650729fa664a1c38616a2b12'), 'name': 'Marie', 'age': 22, 'city': 'Boston'}
{'_id': ObjectId('650729fa664a1c38616a2b13'), 'name': 'Mike', 'age': 32, 'city': 'Chicago'}
{'_id': ObjectId('650729fa664a1c38616a2b14'), 'name': 'Jenny', 'age': 25, 'city': 'Denver'}

In [7]:
# Connect to MongoDB Atlas
client = MongoClient("mongodb+srv://Tien:F@cluster0.ngwxw2i.mongodb.net/?retryWrites=true&w=majority")
# Find and print all documents where age > 25, only include 'name' and 'age' keys in the output
db = client['test_database']
collection = db['test_collection']
results = collection.find({"age": {"$gt": 25}}, {"_id": 0, "name": 1, "age": 1})
print("Multiple documents:")
for result in results:
    print(result)

Multiple documents:
{'name': 'John', 'age': 30}
{'name': 'John', 'age': 30}
{'name': 'Mike', 'age': 32}

In [8]:
db = client['test_database']

# Use a collection (it will be created if it doesn't exist)
collection = db['test_collection']

# Insert some sample documents
my_list = [
    {"name": "John", "age": 30, "city": "New York"},
    {"name": "Marie", "age": 22, "city": "Boston"},
    {"name": "Mike", "age": 32, "city": "Chicago"},
    {"name": "Jenny", "age": 25, "city": "Denver"}
]
collection.insert_many(my_list)

In [9]:
# Find and print documents where age > 25 and city is "New York"
print("Documents with age > 25 and city 'New York':")
results = collection.find({"$and": [{"age": {"$gt": 25}}, {"city": "New York"}]})
for result in results:
    print(result)

Documents with age > 25 and city 'New York':
{'_id': ObjectId('6507294e664a1c38616a2b10'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('650729fa664a1c38616a2b11'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('65072e70cfabb3d0ceee800c'), 'name': 'John', 'age': 30, 'city': 'New York'}

In [10]:
# Use a database (it will be created if it doesn't exist)
db = client['test_database']

# Use a collection (it will be created if it doesn't exist)
collection = db['test_collection']

# Insert some sample documents
my_list = [
    {"name": "John", "age": 30, "city": "New York"},
    {"name": "Marie", "age": 22, "city": "Boston"},
    {"name": "Mike", "age": 32, "city": "Chicago"},
    {"name": "Jenny", "age": 25, "city": "Denver"}
]
collection.insert_many(my_list)

# Find and print documents where age > 25, city is "New York", and name is "John"
print("Documents with age > 25, city 'New York', and name 'John':")
results = collection.find({
    "$and": [
        {"age": {"$gt": 25}}, 
        {"city": "New York"}, 
        {"name": "John"}
    ]
})
for result in results:
    print(result)

# Find and print documents where age > 25 and either city is "New York" or name is "John"
print("Documents with age > 25 and either city 'New York' or name 'John':")
results = collection.find({
    "$and": [
        {"age": {"$gt": 25}}, 
        {"$or": [{"city": "New York"}, {"name": "John"}]}
    ]
})
for result in results:
    print(result)

Documents with age > 25, city 'New York', and name 'John':
{'_id': ObjectId('6507294e664a1c38616a2b10'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('650729fa664a1c38616a2b11'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('65072e70cfabb3d0ceee800c'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('65072f7bcfabb3d0ceee8010'), 'name': 'John', 'age': 30, 'city': 'New York'}
Documents with age > 25 and either city 'New York' or name 'John':
{'_id': ObjectId('6507294e664a1c38616a2b10'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('650729fa664a1c38616a2b11'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('65072e70cfabb3d0ceee800c'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('65072f7bcfabb3d0ceee8010'), 'name': 'John', 'age': 30, 'city': 'New York'}